<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Bar - Borrow, Book &amp; Rent</title>
    <link rel="shortcut icon" href="dummies/favicon.ico">

    <!-- GOOGLE FONTS : begin -->
    <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">
    <!-- GOOGLE FONTS : end -->

    <!-- STYLESHEETS : begin -->
      <link rel="stylesheet" type="text/css" href="/library/css/font-awesome.min.css">
      <%= stylesheet_link_tag "skins/default"%>
      <%= stylesheet_link_tag "animate.custom"%>
      <%= stylesheet_link_tag params[:controller] %>
      <%= stylesheet_link_tag "style"%>
    <!--link rel="stylesheet" type="text/css" href="library/css/custom.css"> uncomment if you want to use custom CSS definitions -->
    <!-- STYLESHEETS : end -->

        <!--[if lte IE 8]>
      <link rel="stylesheet" type="text/css" href="library/css/oldie.css">
      <script src="library/js/respond.min.js" type="text/javascript"></script>
        <![endif]-->

  </head>
  <body class="enable-fixed-header enable-inview-animations">

    <%= render "layouts/header"%>
    <%= render "home/banner"%>

    <!-- CORE : begin -->
    <div id="core">
      <%= render "home/services" %>
      <%= render "home/browse" %>
      <%= render "home/about" %>
    </div>
    <!-- CORE : end -->

    <%= render "layouts/footer"%>
    <!-- SCRIPTS -->
    <%= javascript_include_tag :public %>
    <%= javascript_include_tag :scripts %>
    <!-- SCRIPTS : end -->

  </body>
</html>
