<!-- CORE : begin -->
<div id="core">
  <!-- CONTENT SECTION - SERVICES : begin -->
  <section class="content-section row">
    <div class="container">
      <div class="col-md-3">
        <h2>編輯物品</h2>
        <%= form_for @admin_bucket.avatar,
          url: admin_gallery_path(@admin_bucket.avatar),
          html: { class: "dropzone", id: "gallery-upload",
                  style: "border: 2px dashed #0087F7; margin: 27px 0 0 0; min-height: 163px; padding: 5px" } do %>
          <div class="dz-message" data-dz-message><i class="icon-plus" style="font-size: 50px; margin-top: 2-px;"></i>
            <p> 拖曳至此 或者 点击上传新相片 </p></div>
            <%= image_tag @admin_bucket.thumb_url, width: "100%" %>
        <% end %>
      </div>
      <div class="col-md-9">
        <%= form_for @admin_bucket, as: :admin_bucket,
          url: admin_bucket_path(@admin_bucket), remote: true,
          html: {class: "form-horizontal"} do |f| %>
          <div class="form-group">
            <%= f.label :title, "標題", class: "col-sm-2 control-label"%>
            <div class="col-sm-10">
              <%= f.text_field :title, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :quantity, "數量", class: "col-sm-2 control-label"%>
            <div class="col-sm-10">
              <%= f.number_field :quantity, class: "form-control", min: 1 %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :price, "價格", class: "col-sm-2 control-label"%>
            <div class="col-sm-10">
              <%= f.text_field :price, class: "form-control", id: "admin_bucket_price" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :description, "描述", class: "col-sm-2 control-label"%>
            <div class="col-sm-10">
              <%= f.text_area :description, class: "form-control" %>
            </div>
          </div>
          <br>
          <div class="col-md-offset-2 col-md-10">
            <%= f.submit "編輯物品", class: "button", style: "width: 100%" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <%= render "available"%>
      </div>
    </div>
  </section>
</div>
<!-- CORE : end -->
<script>
  $('.crudable-daterange').crudable({
    crudableLabel: "crudable-daterange",
    afterCreate:   function(element) {
      element.find('.input-daterange').datepicker({
        todayBtn: "linked",
        startLabel: "admin_available[start][]",
        endLabel: "admin_available[end][]"
      });
    }
  });
</script>
