<!-- PROPERTIES LISTING : begin -->
<div class="properties-listing">

  <!-- PROPERTIES LISTING HEADER : begin -->
  <div class="properties-listing-header clearfix">

    <!-- LIST SORTING : begin -->
    <div class="list-sorting">
      <form class="default-form" action="index.html">
        <h5>排序依照</h5>
        <span class="select-box">
          <select name="sort-alphabetical">
            <option value="asc">A to Z</option>
            <option value="desc">Z to A</option>
          </select>
        </span>
        <span class="select-box">
          <select name="sort-rating">
            <option value="asc">評價 &uarr;</option>
            <option value="desc">評價 &darr;</option>
          </select>
        </span>
        <span class="select-box">
          <select name="sort-price">
            <option value="asc">價格 &uarr;</option>
            <option value="desc">價格 &darr;</option>
          </select>
        </span>
      </form>
    </div>
    <!-- LIST SORTING : end -->

    <!-- LIST LAYOUT : begin -->
    <div class="list-layout">
      <button class="button" data-layout="grid"><i class="fa fa-th"></i></button>
      <button class="button active" data-layout="list"><i class="fa fa-list-ul"></i></button>
    </div>
    <!-- LIST LAYOUT : end -->
  </div>
  <!-- PROPERTIES LISTING HEADER : end -->

  <!-- PROPERTY LIST : begin -->
  <ul class="custom-list clearfix property-list layout-list">
    <% Organization.all.each do |organization| %>
    <li class="property first-in-row odd">
      <a href="<%= organization_path(organization) %>" class="property-thumb">
        <img src="<%= organization.galleries.first.image.list.url %>" alt="">
        <span class="overlay"><span><i class="fa fa-search"></i> View More</span></span>
      </a>
      <div class="property-content">
        <h4 class="property-title"><a href="#"><%= organization.name %></a></h4>
        <h5 class="property-location"><%= organization.location %></h5>
        <p class="property-description"><%= organization.description %></p>
        <div class="property-price-rating">
          <div class="property-rating">
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
          </div>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
  <!-- PROPERTY LIST : end -->

  <!-- PROPERTIES LISTING FOOTER : begin -->
  <div class="properties-listing-footer clearfix">
    <div class="default-form">
      <span class="select-box links">
        <select name="listing-pagination">
          <option value="properties-listing-grid.html?page=1">Page 1</option>
          <option value="properties-listing-grid.html?page=2">Page 2</option>
          <option value="properties-listing-grid.html?page=3">Page 3</option>
          <option value="properties-listing-grid.html?page=4">Page 4</option>
          <option value="properties-listing-grid.html?page=5">Page 5</option>
          <option value="properties-listing-grid.html?page=6">Page 6</option>
          <option value="properties-listing-grid.html?page=7">Page 7</option>
          <option value="properties-listing-grid.html?page=8">Page 8</option>
          <option value="properties-listing-grid.html?page=9">Page 9</option>
          <option value="properties-listing-grid.html?page=10">Page 10</option>
        </select>
      </span>
    </div>
  </div>
  <!-- PROPERTIES LISTING FOOTER : end -->

</div>
<!-- PROPERTIES LISTING : end -->
